h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

html {
    background-color: black;
    text-align: center;
}


a {
    text-align: center;
    font-size: 16px;
    color: aquamarine;
}

img {
    align-content: center;
}

.remembers {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

h2 {
    color: white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

.copyright {
    color: gray;
    text-align: right;
}